# don't add any built Java files
*.class

# ignore the built stuff
out/

# don't want to commit any Intellij config files
.idea
*.iml

# Don't want any of those Mac finder junk files scattered all over
.DS_Store
