<!DOCTYPE html>
<html>
<head>
    <title>Login | The minum.auth domain</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form action="loginuser" method="post">
    <h1>Login</h1>
    <p>
        <label for="username">Username:</label>
        <input id="username" type="text" name="username" placeholder="username"/>
    </p>

    <p>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="password"/>
    </p>

    <button>Enter</button>
</form>
</body>
</html>